# Core dependencies
genanki>=0.10.1
google-generativeai>=0.8.4
python-dotenv>=1.0.1
beautifulsoup4>=4.12.0  # Added for HTML parsing

ruff>=0.9.7
isort>=5.13.2
pre-commit>=3.6.0

# Testing
pytest>=7.0.0
pytest-cov>=4.0.0

# Type checking
mypy>=1.8.0
types-google-generativeai>=0.1.1  # Type stubs for google-generativeai
